.header {
  background-color: maroon;
  box-shadow: 1px 1px 5px 0px gray;
  position: sticky;
  top: 0;
  width: 100%;
}

.logo {
  color: snow;
  display: inline-block;
  font-family: "Josefin Slab", serif;
  font-size: 2em;
  font-weight: bold;
  margin-left: 1em;
}

.nav {
  background-color: maroon;
  height: 100%;
  overflow: hidden;
  position: fixed;
  width: 100%;
}

.menu a {
  color: snow;
  display: block;
  padding: 30px;
}

.sub-menu {
  margin-left: 2em;
}

.nav {
  max-height: 0;
  transition: max-height 0.5s ease-out;
}

/* Menu Icon */
.hamb {
  cursor: pointer;
  float: right;
  padding: 40px 20px;
}

.hamb-line {
  background: snow;
  display: block;
  height: 2px;
  position: relative;
  width: 24px;
}

.hamb-line::before,
.hamb-line::after {
  background: snow;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.hamb-line::before {
  top: 5px;
}

.hamb-line::after {
  top: -5px;
}

.side-menu {
  display: none;
}

/* Toggle menu icon */
.side-menu:checked ~ nav{
    max-height: 100%;
}
.side-menu:checked ~ .hamb .hamb-line {
    background: transparent;
}
.side-menu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    top:0;
}
.side-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top:0;
}

body:has(.side-menu:checked) {
  overflow: hidden;
}

@media only screen and (min-width: 768px) {
  .nav {
    background-color: transparent;
    float: right;
    max-height: none;
    position: relative;
    top: 0;
    width: fit-content;
  }

  .menu li {
    float: left;
  }

  .menu a:hover {
    background-color: transparent;
    color: grey;
  }

  .hamb {
    display: none;
  }
}
