body {
  background-color: snow;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 100%;
  margin: auto;
  max-width: 1000px;
}

main {
  margin-bottom: 2em;
}

article {
  border-bottom: 1px solid maroon;
  width: 90%;
}

#currently-reading {
  border: 2px solid maroon;
  border-radius: 2rem;
  margin: 0 auto;
}

#currently-reading h3 {
  text-align: center;
}

.current-reading {
  border-bottom: 1px solid maroon;
  margin: 0 auto;
  padding: 1em;
  width: 90%;
}

#flex-container {
  display: flex;
  padding: 1em;
  width: 100%;
}

@media only screen and (min-width: 768px) {
 main {
    flex-grow: 2;
  }

  #flex-container {
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}
