img {
  display: block;
  margin: auto;
  object-fit: contain;
  width: 90%;
}

.pagination {
  border-top: 1px solid maroon;
  display: flex;
  font-size: 2em;
  justify-content: space-between;
}

.quote-text {
  margin: 1em auto 0 auto;
}
