h1 {
  font-family: serif;
  font-optical-sizing: auto;
}

h2 {
  font-family: serif;
  font-optical-sizing: auto;
}

h3 {
  font-family: serif;
  font-optical-sizing: auto;
}

h4 {
  font-family: serif;
  font-optical-sizing: auto;
}

h5 {
  font-family: serif;
  font-optical-sizing: auto;
}

.body2 {
  font-family: sans-serif;
}

.button {
  font-family: sans-serif;
  font-weight: medium;
}

.caption {
  font-family: sans-serif;
}

.overline {
  font-family: sans-serif;
}
