---
layout: 'layouts/base.html'
---
<main>
  {% if title %}<h1>{{ title }}</h1>{% endif %}

  <p>By {{ author }} | Posted on {{ dateString }}</p>

  {{ content }}
  {% assign nextPost = collections.post | getNextCollectionItem %}
  {% assign previousPost = collections.post | getPreviousCollectionItem %}
  
  <section class="pagination">
  {% if previousPost %}
    <section>
      <p><strong>Previous Post</strong></p>
      <p><a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a></p>
    </section>
  {% endif %}
  {% if nextPost %}
    <section>
      <p><strong>Next Post</strong></p>
      <p><a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a></p>
    </section>
  </section>
  {% endif %}
</main>
