<!-- If there's a previous href, have previous be a link -->
{% if pagination.href.previous %}
    <a href="{{ pagination.href.previous }}">Previous</a>
{% else %}
    <span>Previous</span>
{% endif %}

<!-- Loop through all hrefs and build out an anchor for each and the page number (based on the loop counter) -->
{% for item in pagination.hrefs %}
    <a href="{{ item }}">{{ forloop.index }}</a>
{% endfor %}

<!-- If there's a next href, have next be a link -->
{% if pagination.href.next %}
    <a href="{{ pagination.href.next }}">Next</a>
{% else %}
    <span>Next</span>
{% endif %}
